.header{
    height: 60px;
    padding: 10px;
    background-image: linear-gradient(to right, #a741bd, #a741bd);
    border-radius: 10px;
    font-size: 25px;
}

.buttons{
    display: flex;
    justify-content: end;
}

.buttonHeader{
    width: 10%;
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
    color: white;
}

.backImage{
    position: absolute;
    margin-left: 60%;
    background-image: linear-gradient(to right, #a741bd, #a741bd);
    width: 700px;
    height: 700px;
    border-radius: 100%;
    animation: shakeImage 5s infinite alternate;
}

.image{
    width: 700px;
}

@keyframes shakeImage {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }
}